{% extends 'base.html'%}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    <h1> <b><i><strong>GIMCO GLOBAL</strong></i></b></h1>
  </div>
  <div class="card-body">
    <h2> Hello Mr.{{user.username}}</h2>
    <p class="card-text">Click Here For Service Report</p>
    <a href="{% url 'report' %}" target="_blank" class="btn btn-primary">Service Report</a>
      <br><br>
      <form action="{% url 'logout'%}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-info">

    </form>
  </div>
</div>
{%endblock%}