{% extends 'base.html'%}
{% load static %}
{% block content %}
  
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ServiceReport</title>
     <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
  </head>
  <div id="content2" style="background: #fff;border-bottom: 1px solid #ffffff;">
  <body class="body">

    <div class="container">
      <div class="logo">
      <h1><strong><b>Gimco Service Report</b></strong></h1>


    </div>
  <form>
      {% csrf_token %}
    <div class="container">
      <div class="container">
    <div class="form-group row">
    <label class="names"  class="col-sm-0 col-form-label">CLient Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control"  placeholder="Enter Client Name">
    </div>
    <label class="names"  class="col-sm-0 col-form-label">S.R.No</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  placeholder="">
    </div>
    <label class="names"  class="col-sm-0 col-form-label">No of days</label>
    <div class="col-sm-2">
      <input type="number" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group row">
  <label class="names"  class="col-sm-0 col-form-label">Date of Complaint</label>
  <div class="col-sm-3">
    <input type="date" class="form-control"  placeholder="Date of Complaint">
  </div>
  <label class="names"  class="col-sm-0 col-form-label">Service From</label>
  <div class="col-sm-3">
    <input type="date" class="form-control"  placeholder="Enter From date ">
  </div>
  <label class="names"  class="col-sm-0 col-form-label">To</label>
  <div class="col-sm-3">
    <input type="date" class="form-control"  placeholder="Enter To date ">
  </div>
</div>
<div class="form-group row">
<label class="names"  class="col-sm-0 col-form-label">Engineer Name</label>
<div class="col-sm-4">
  <input type="text" class="form-control"  placeholder="Enter Engineer Name">
</div>
<label class="names"  class="col-sm-1 col-form-label">Location</label>
<div class="col-sm-4">
  <input type="text" class="form-control"  placeholder="Enter Location ">
</div>
</div>
<div class="form-group row">
<label class="names"  class="col-sm-2 col-form-label">Principle</label>
<div class="col-sm-4">
  <input type="text" class="form-control"  placeholder="Enter Engineer Name">
</div>
<label class="names"  class="col-sm-0 col-form-label">Machine Model</label>
<div class="col-sm-4">
  <input type="text" class="form-control"  placeholder="Enter Location ">
</div>
</div>
</div>
</div>

  <div class="container">
  <h3>Type of Service</h3>
  <div class="form-group row">
      <div  class="col-sm-1">ON Call</div>
      <div class="col-sm-1">
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
      </div>
      </div>
      <div id="check" class="col-sm-0">Under Warrenty</div>
      <div class="col-sm-1">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" >
      </div>
      </div>
      <div class="col-sm-0">Amc</div>
      <div class="col-sm-1">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" >
      </div>
      </div>
      <div class="col-sm-0">
      <label class="names">Machine Running Hours</label>
      <input type="text" placeholder="Machine Running Hours" name="Machine Running Hours" required>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="form-group">
    <label>Purpose of Visit</label>
    <textarea class="form-control"  rows="2"></textarea>
    </div>
    <div class="form-group">
      <label>Root Cause</label>
      <textarea class="form-control"  rows="2"></textarea>
    </div>
    <div class="form-group">
        <label>Action Taken</label>
        <textarea class="form-control"  rows="6"></textarea>
      </div>
      <div class="form-group">
          <label>Suggestions</label>
          <textarea class="form-control"  rows="3"></textarea>
        </div>
          </div>
          <div class="container">
          <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Equipment</th>
              <th scope="col">Quantity</th>
              <th scope="col">Model No</th>
              <th scope="col">Serial No</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
            </tr>
            <tr>
              <th scope="row">2</th>
             <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
              <td><input type="text" class="form-control"  placeholder="Enter spares "></td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="container">
          <h3>Type of Service</h3>
          <div class="form-group row">
              <div class="col-sm-1">Complete</div>
              <div class="col-sm-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" >
              </div>
              </div>
              <div class="col-sm-0">Incomplete</div>
              <div class="col-sm-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" >
              </div>
              </div>
              <div class="col-sm-0">Spare Parts Pending</div>
              <div class="col-sm-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
              </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-0">Under Observation</div>
                  <div class="col-sm-1">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" >
                  </div>
                  </div>
                  <div class="col-sm-0">Working Solution Provided</div>
                  <div class="col-sm-1">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                  </div>
                  </div>
                  </div>
                  <br><br><br>
                  <div class="container">
                    <div id="textbox">
                  <p class="alignleft">Engineer Signature</p>
                  <p class="alignright">Client Signature</p>
                  </div>
                  </div>

                <br><br><br>
                <div class="container">
                  <input class="bot" type="button" id="btnPrint" onclick="window.print();" value="Print Page" />
                </div>

  </form>
  </div>
  </body>
</html>


{%endblock%}